{{ GRAMEX(cache=['']) }}
{% code %}
import sys
sys.setrecursionlimit(15000)
#HSDPA_DROP_RATE
#HSDPA_THROUGHPUT
#HSDPA_TRAFFIC_DL
#END_TO_END_HSDPA_ESTAB_RATE
#CS RAB Success Rate (CSSR) - TRAI
#CS RRC congestion - TRAI
color = _color.Office
available_dates =['12Dec12','13Dec12','14Dec12']
if 'date' in args:
	x = pd.read_csv(args['date'][0]+"_DAILY_CELL_CHN.csv")
else:
	x = pd.read_csv("12Dec12_DAILY_CELL_CHN.csv")

{% end %}
<html>
	<head>
		<style>
			{{ T('base.css',bootstrap=True) }}
		</style>
	</head>
	<body>
		<div class="header">
		  <div class="container">
		    <h1>Telecom Network performance </h1>
		    <div class="gramenerlogo"></div>
		  </div>
		</div>
		<div class="container">
		<form>
			<div class="row-fluid">
				<div class="span6">
				<label>Date</label>
				<select name="date">
					{% for date in available_dates %}
					<option {{ 'selected' if date in args.get('date', []) else '' }}>{{ date }}</option>
					{% end %}
				</select>
				</div>
				<div class="span6">
				<label>Properties</label>
				<select name="prop" multiple>
					{% for prop in [ each for each in x.columns.values if each.startswith('HSDPA') ] %}
					<option {{ 'selected' if prop in args.get('prop', []) else '' }}>{{ prop }}</option>
					{% end %}
				</select>
				</div>
			</div>
		</form>
		<br>
		<h4>Usage<br></h4>
		<h5>
		1. If you select a single property, you will be able to view it's movement across all four RCHN groups.<br>
		2. If multiple properties are selected, four treemaps are drawn for the four groups. The first property <br>will show the size and the next selected property will decide the color of the cells in the treemaps.
		For example: select HSDPA_THROUGHPUT and HSDPA_DROP_RATE_NOM. The treemaps show that HSDPA drop rates(Color) has reduced
		<br> in RCHN53 and 51 (more yellow cells).
		</h5>
		{% if  'prop' in args.keys() and len(args['prop']) == 1 %}
			{% for i, each_group in enumerate(['RCHN51','RCHN52','RCHN53','RCHN54']) %}
				{% set W, H, line_nos = 800, 100, x.groupby(['RNC_NAME']).groups[each_group] %}
				{% for each_prop in args['prop'] %}
					{% set input_data = x.ix[line_nos] %}
					<h3>{{ each_prop }} in {{ each_group }}</h3>
					{% set input_data = input_data[each_prop] %}
					<svg xmlns="http://www.w3.org/2000/svg" width="{{ W }}" height="{{ H + 30 }}">
					  {{ T('sparkline.svg', width=W, height=H, data=input_data.tolist(), attrs={ 'stroke':'red'}) }}
					  {{ T('axis.svg', axis='x', y=H, size=W,data=input_data.index) }}
					  {{ T('axis.svg', axis='y', y=0, size=H, data=input_data      ) }}
					</svg>
				{% end %}
			{% end %}
		{% elif ('prop' in args.keys()) and len(args['prop']) > 1  %}
			{% set x1, y1, parent, child = args['prop'][0], args['prop'][1], 'RNC_NAME', 'WCEL_NAME' %}
			<h3>Size:{{ x1 }}       Color: {{ y1 }}</h3>
			{{ SVG('subtreemap.svg', width=940, height=250,
        			data    = x,
        			keys    = [ parent, child ],
        			values  = { x1: sum, y1: sum},
        			size    = lambda v: v[x1],
        			sort    = lambda v: v.sort_index(by=[x1], ascending=False),
        			text    = lambda v: v[child] if child in v else v[parent],
        			title   = lambda v: '%s %s:%f, %s:%f' % (v[child] if child in v else v[parent], x1, v[x1], y1, v[y1]),
        			color   = lambda v: _color.gradient(v[y1], _color.RYG_1),
        			padding = 3,
        			parents = True,
        			wrap    = False,
    				attrs={'stroke':'white','stroke-width':0.8})
			}}
		{% end %}

		</div>
	</body>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
		var n = $('svg').length;
		if (n>=1){
			$('h4').hide();
			$('h5').hide();
		}
	});
	$('select').on('change',function(){
		$('form').submit();
	});
	$('rect').on('click', function() {
    $(this).hide();
	});
	$('g[class="l1 l-1"] rect').next().hide()
	$("g[class='l0'] text").css({'font-size':'24px','fill':'grey'})
	</script>
</script>
</html>