{% code %}
title = 'Lok-Sabha'

ALL_SESSION = 'All'

if 'ls-timelines.csv' not in DB:
  ls_timelines = pd.read_csv('data/ls-timelines.csv')
  ls_timelines['start_date'] = ls_timelines['start_date'].apply(pd.datetools.parse)
  ls_timelines['end_date'] = ls_timelines['end_date'].apply(pd.datetools.parse)
  ls_timelines = ls_timelines.sort('start_date', ascending=False)
  DB['ls-timelines.csv'] = ls_timelines

ls_timelines = DB['ls-timelines.csv']
start_date, end_date = ls_timelines['start_date'].min(), ls_timelines['end_date'].max()
latest_session = ls_timelines.irow(0)

ls_id_arg = args.get('elected_name', [latest_session['elected_name']])[0]
session_arg = args.get('session_id', [ALL_SESSION])
selected_sessions = ls_timelines
if session_arg != ALL_SESSION:
  selected_sessions = ls_timelines[ls_timelines['session_id'].isin(session_arg)]
{% end %}
<!DOCTYPE html><html lang="en">
<head>
  <title>{{ title }}</title>
  <style>
  {{ T('base.css', bootstrap=True) }}
  .table td, .table th { text-align: right; }
  </style>
  <script src="/js/jquery.min.js"></script>
</head><body>

<div class="header">
  <div class="container">
    <h1>{{ title }}</h1>
    <a href="/" class="gramenerlogo"></a>
  </div>
</div>
<pre>{{args}} - {{ls_id_arg}} {{session_arg}} : {{start_date}} to {{end_date}} </pre>
<div class="container">
  <form name="index">
    <select class="span3" name="elected_name">
      {% for elect in ls_timelines['elected_name'].unique() %}
        <option name="{{elect}}" {{'selected' if elect == ls_id_arg else ''}}>{{elect}}</option>
      {% end %}
    </select>
    <select class="span3" name="session_id" multiple="multiple">
      <option value="All" {{'selected' if ALL_SESSION == session_arg[0] else ''}}>All</option>
      {% for index, session in ls_timelines.iterrows() %}
        <option value="{{session['session_id']}}" {{'selected' if session['session_id'] in session_arg else ''}}>{{session['session_id']}}-{{session['session_name']}}</option>
      {% end %}
    </select>
    <!--input class="btn primary details" value="Session-Details" type="submit"></input -->
    <a class="btn btn-info details" name="Session-Details" href="">Details</a>

    <!-- Attendance calendar map -->
  <div><h3>{{ls_id_arg}} Member Attendance for sessions: {{','.join(session_arg)}}</h3><span class="small">({{start_date.strftime('%d-%b-%Y')}} to {{end_date.strftime('%d-%b-%Y')}})</span></div>
  {% for index, pl_session in selected_sessions.iterrows() %}
      {% include 'ls_calendar.html' %}
  {% end %}

  </form>
</div>

<script src="/js/jquery.min.js"></script>
<script>
$(function() {
  $('a.details').on('click', function(e){
    $('form').submit();
    e.preventDefault();
    e.stopPropagation();
  });

});
</script>
</body></html>
