{% code %}
## TEST start
#ls_id_arg, session_arg = ['TEST']*2
#start_date, end_date = pd.datetime.strptime('11/22/2012', '%m/%d/%Y'), pd.datetime.strptime('12/20/2012', '%m/%d/%Y')
## TEST end

start_date = pl_session['start_date']
end_date = pl_session['end_date']

if 'attendance_holiday.csv' not in DB:
  attnd_data = pd.read_csv('data/attendance_holiday.csv')
  attnd_data['Date'] = attnd_data['Date'].apply(pd.datetools.parse)
  DB['attendance_holiday.csv'] = attnd_data
  ## To-Do: Merge Birthday

attnd_data = DB['attendance_holiday.csv']

attnd_data = attnd_data[(attnd_data['Date'] >= start_date) & (attnd_data['Date'] <= end_date)]
attnd_data_agg = attnd_data.groupby(['Date','Attendance']).agg({'Member':len}).unstack().resample('D')
{% end %}
{#{T('table.html', data=attnd_data_agg)}#}
  <table>
  <thead>
  <tr class="row">
    <th colspan="2">{{pl_session['session_id']}}-{{pl_session['session_name']}}</th>
  </tr>
  <tr class="row">
    <th class="span6">Members Signed</th>
    <th class="span6">Members Not-Signed</th>
  </tr>
  </thead>
  <tbody>
    <tr class="row">
    <td class="span6">
    {{ T('calendarmap.html', width=25, data=attnd_data_agg[('Member', 'S')],
      startdate=start_date,
      gradient=_color.Greens,
      weekstart=6,
      label_left=35,
      label_top=35,
      format='{:,.0f}',
      attrs={'stroke': '#fff', 'fill': _color.Office.accent_1}
    ) }}
    </td>
    <td class="span6">
    {{ T('calendarmap.html', width=25, data=attnd_data_agg[('Member', 'NS')],
      startdate=start_date,
      gradient=_color.Reds,
      weekstart=6,
      label_left=35,
      label_top=35,
      format='{:,.0f}',
      attrs={'stroke': '#fff', 'fill': _color.Office.accent_1}
    ) }}  
    </td>
    </tr>
  </tbody>
  </table>
