{% code %}
x = pd.read_csv("12Dec12_DAILY_CELL_CHN.csv")
line_nos = x.groupby(['RNC_NAME']).groups['RCHN52']
input_data = x.ix[line_nos]
input_data = input_data['HSDPA_TRAFFIC_DL']
print type(input_data), len(input_data)
{% end %}
<html>
	<body>
		{% set W, H = 800, 100 %}
		<svg xmlns="http://www.w3.org/2000/svg" width="{{ W }}" height="{{ H + 30 }}">
		{{ SVG('sparkline.svg', width=800, height=100, data=input_data.tolist() ) }}
		</svg>
	</body>
</html>