{% code %}
data_source = 'time_sheet.csv'
import time

if 'data' not in DB:
    data = pd.read_csv(data_source)
    DB['data'] = data

filtered_data = DB['data']
filtered_dates = {}
filtered_dates['dates'] = filtered_data['Date'].dropna().apply(pd.datetools.parse)

filtered_dates['month_year'] = filtered_dates['dates'].apply(lambda v: v.strftime("%b-%Y"))

correl_plot_data = pd.pivot_table(filtered_data,values='Hours', rows='Date', cols='Activity', aggfunc=numpy.sum)
# grouped_category =  filtered_data.groupby(['Date','Activity']).agg({'Hours':len})

{% end %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee Time Sheet Dashboard</title>
    <script>(function(d,c){var b="";setInterval(function(){var a=new XMLHttpRequest;a.open("HEAD",c.href,false);a.send(null);a=a.getResponseHeader("Last-Modified");if(b)b!=a&&c.reload();else b=a},d)})(300,window.location)</script>

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/clusterplot.highlight.js"></script>
</head>
<body>

    <header>
        <div class="container">
            <h1>Employee Timesheet Dashboard</h1>
        </div>
    </header>

    <div class="container">
        <form>
            <!-- Column 1 of the form(contains the Select Menus for Department and Project) -->
            <div class="row-fluid">
                <div class="span3">
                    <label for="Dept">Department</label>
                    <select name="Dept"  multiple="multiple" id="">
                        {% for Dept in filtered_data['Dept'].unique() %}
                            <option> {{ Dept }}</option>
                        {% end %}
                    </select>

                    <label for="Project">Project</label>
                    <select name="Project" id="" multiple="multiple">
                        {% for Project in filtered_data['Project'].unique()%}
                            <option> {{ Project }} </option>
                        {% end %}
                    </select>

                    <label for="Reporting Manager">Reporting Manager</label>
                    <select name="Reporting Manager" multiple="multiple" id="">
                        {% for rep_manager in filtered_data['Reporting Manager'].unique() %}
                            <option>{{ rep_manager }}</option>
                        {% end %}
                    </select>
                </div>

                <!-- Column 2 of the form(contains the Select Menus for Reporting Manager and Employee Role) -->
                <div class="span3">

                    <label for="Employee Role">Employee Role</label>
                    <select name="Employee Role" multiple="multiple" id="">
                        {% for emp_role in filtered_data['Employee Role'].unique() %}
                            <option>{{ emp_role }}</option>
                        {% end %}
                    </select>

                    <label for="Location">Location</label>
                    <select name="Location" multiple="multiple" id="">
                        {% for loc in filtered_data['Location'].unique() %}
                            <option> {{ loc }} </option>
                        {% end %}
                    </select>

                    <label for="Activity">Activity</label>
                    <select name="Activity" multiple="multiple" id="">
                        {% for activity in filtered_data['Activity'].unique() %}
                            <option>{{ activity }}</option>
                        {% end %}
                    </select>
                </div>

                <!-- Column 4 of the form(contains the buttons) -->
                <div class="span3">
                    <label for="Date">Month</label>
                    <select name="Date" id="" multiple=multiple>
                        {% for mon_year in filtered_dates['month_year'].unique() %}
                            <option>{{ mon_year }}</option>
                        {% end %}
                    </select>
                </div>
            </div>
        </form>
        <hr />
        <hr />
    </div>

    <div class="container" class="bottom_em">
        <div class="row-fluid">
            <div class="span12" align="center">
                <h3><u>Role-wise Effort spent on Activities</u></h3>
                {{ SVG('heatgrid.svg',
                        width=700,
                        height=500,
                        data=filtered_data,
                        xaxis='Dept',
                        yaxis='Activity',
                        metrics={'Hours':numpy.nansum},
                        color=lambda v:_color.gradient(v['Hours'],_color.Blues ),
                        xmargin=70,
                        ymargin=70) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12" align="center">
                <h3><u>Correlation across various Metrics</u></h3>
                {{ SVG('clusterplot.svg',
                    width=700,
                    height=700,
                    data=correl_plot_data.fillna(0),
                    label=150,
                    label_bottom=150,
                    gradient=_color.RdYlGn,
                    regression=True,
                ) }}
            </div>
        </div>
    </div>

</body>
</html>
